<template>
  <div class="new-todo-form">
    <a-button
      class="new-todo-form__btn"
      type="primary"
      size="large"
      :disabled="loading"
      @click="visible = true"
    >
    Новая задача
    </a-button>
    <a-modal
      v-model="visible"
      :centered="true"
      title="Новая задача"
      okText="Добавить"
      cancelText="Отмена" 
      :confirmLoading="loadingOk"
      @ok="handleOk" 
      @cancel="visible = false"
    >
      <div>
        <a-input v-model="todo.label" placeholder="Важная задача" />
      </div>
    </a-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';


export default {
  data() {
    return {
      visible: false,
      loadingOk: false,
      todo: {
        label: ''
      }
    }
  },
  computed: {
    ...mapState(['loading'])
  },
  methods: {
    ...mapActions(['addTodo']),
    async handleOk() {
      this.loadingOk = true;
      await this.addTodo(this.todo)
        .then(() => {
          this.loadingOk = false;
          this.visible = false;
          this.todo.label = ''
        })
        .catch(() => this.loadingOk = false)
    }
  }
}
</script>

<style>
.new-todo-form {
  text-align: center;
  margin-bottom: 1.5rem;
}
.new-todo-form__btn {
  background-color: #24004e;
  border-color: #24004e;
}
.new-todo-form__btn:hover {
  background-color: #24004e;
  border-color: #24004e;
  opacity: 0.7;
}
</style>