<template>
  <div class="todo-item">
    <a-input 
      class="todo-item__input" 
      :class="{ 
        'todo-item__input--readonly': readonly,
        'todo-item__input--cancel': todo.status === 'cancel',
        'todo-item__input--done': todo.status === 'done' 
      }" 
      :readOnly="readonly" 
      :value="updatedTodo.label"
      @change="updatedTodo.label = $event.target.value"
    ></a-input>
    <a-select class="todo-item__select" :options="statuses" :value="todo.status" :loading="loading.updateStatus" @change="changeStatus"></a-select>
    <a-button class="todo-item__btn" :icon="readonly ? 'edit' : 'check'" type="primary" :loading="loading.updateLabel" @click="updateLabel"></a-button>
    <a-button class="todo-item__btn" type="danger" icon="delete" :loading="loading.delete" @click="handleRemove"></a-button>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'TodoItem',
  props: {
    todo: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      readonly: true,
      loading: {
        updateLabel: false,
        delete: false,
        updateStatus: false
      },
      updatedTodo: {
        label: this.todo.label,
        status: ''
      }
    }
  },
  computed: {
    ...mapState(['statuses'])
  },
  methods: {
    ...mapActions(['updateTodo', 'removeTodo']),
    async changeStatus(status) {
      this.loading.updateStatus = true;
      await this.updateTodo({ id: this.todo.id, field: 'status', value: status })
          .then(() => {
            this.loading.updateStatus = false; 
          })
          .catch(() => this.loading.updateStatus = false)
    },
    async updateLabel() {
      if (!this.readonly && this.updatedTodo.label.trim()) {
        this.loading.updateLabel = true
        await this.updateTodo({ id: this.todo.id, field: 'label', value: this.updatedTodo.label })
          .then(() => {
            this.loading.updateLabel = false;
          })
          .catch(() => this.loading.updateLabel = false)
      }
      this.readonly = !this.readonly
    },
    async handleRemove() {
      this.loading.delete = true
      this.removeTodo(this.todo.id)
        .then(() => this.loading.delete = false)
        .catch(() => this.loading.delete = false)
    }
  }
}
</script>

<style>
.todo-item {
  padding: 1rem 2rem;
  font-size: medium;
  display: flex;
}
.todo-item {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.todo-item:last-child {
  border-bottom: 1px solid gray;
}
.todo-item__input.ant-input {
  display: inline-block;
  margin-right: 16px;
}
.todo-item__select {
  min-width: 120px;
}
.todo-item__input--readonly {
  border: none !important;
  box-shadow: none !important;
}
.todo-item__input--cancel.ant-input {
  color: red;
}
.todo-item__input--done.ant-input {
  text-decoration: line-through;
}
.todo-item__btn {
  margin-left: 8px;
}

@media (max-width: 480px) {
  .todo-item {
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
  }
  .todo-item__input.ant-input {
    margin-bottom: 8px;
  }
}
</style>