<template>
  <div class="todo-list">
    <div class="todo-list__progress" v-if="loading">Загружаем ваши задачи...</div>
    <template v-else>
      <TodoItem v-for="todo in todos" :key="todo.id" :todo="todo" />
    </template>
  </div>
</template>

<script>
import TodoItem from './TodoItem.vue'
import { mapActions, mapState } from 'vuex';

export default {
  name: 'TodoList',
  components: {
    TodoItem
},
  computed: {
    ...mapState(["todos", "loading"])
  },
  methods: {
    ...mapActions(["fetchTodos"])
  },
  async created() {
    await this.fetchTodos()
  }
}
</script>

<style>
.todo-list {
  max-width: 80%;
  margin: 0 auto;
}
.todo-list__progress {
  text-align: center;
  padding: 2.5rem;
  font-size: large;
  font-weight: bold;
}
</style>