<template>
  <div id="app">
    <header>
      <div>TODO LIST</div>
    </header>
    <NewTodoForm />
    <TodoList />
  </div>
</template>

<script>
import NewTodoForm from './components/NewTodoForm.vue';
import TodoList from './components/TodoList.vue'

export default {
  name: 'App',
  components: {
    TodoList,
    NewTodoForm
  }
}
</script>

<style>
#app header {
  padding: 1.5rem;
  font-size: large;
  font-weight: bold;
  text-align: center;
  background-color: #084884;
  color: #ffffff;
  margin-bottom: 2rem;
}
</style>
